*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $regularFontFamily;
  color: $regularFontColor;
}

a {
  color: $regularFontColor;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

img {
  display: block;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-danger {
  color: #da2626;
}

.text-success {
  color: #08c24f;
}

.text-info {
  color: #3097d1;
}

.delete:hover {
  color: #da2626;
}

.view:hover {
  color: #08c24f;
}

.edit:hover {
  color: #3097d1;
}

.full-width {
  width: 100%;
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

[class*='col-'] {
  float: left;
  padding: 15px;
}

/* For mobile phones: */
[class*='col-'] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

.container {
  width: 920px;
  margin: auto;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.aside {
  height: 100vh;
  float: left;
  clear: both;
}

.padding-0 {
  padding: 0px;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.padding-15 {
  padding: 15px;
}

.padding-30 {
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  .padding-0 {
    padding: 0px;
  }
  .padding-5 {
    padding: 5px;
  }
  .padding-10 {
    padding: 5px;
  }
  .padding-15 {
    padding: 5px;
  }
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.alert {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.card {
  float: none;
  margin: auto;
  background: #eaeaea;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #dbd9d9;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }

  h1 {
    color: #495057;
  }
}

.form-group {
  width: 100%;
  margin-bottom: 10px;

  label {
    color: $labelColor;
  }

  .form-control {
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
      outline: none;
      border-color: #80bdff;
      box-shadow: 0 0 0 0.2rem rgba(128, 189, 255, 0.5);
    }
  }

  .is-invalid {
    border: 1px solid #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  }

  .is-valid {
    border: 1px solid #13ce66;
    box-shadow: 0 0 0 0.2rem #13ce6770;
  }

  .invalid-feedback {
    color: #e07373;
    padding: 5px 0;
  }
}

.paragraph {
  color: #495057;
  margin: 10px 0;

  a {
    color: #4d5053;

    &:hover {
      color: #2966a3;
    }
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.default-table {
  width: 100%;
  font-family: $regularFontFamily;
  border-collapse: collapse;

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4d648a;
    color: white;
  }

  td,
  th {
    border: 1px solid transparent;
    padding: 8px;

    i {
      padding: 0 3px;
      cursor: pointer;
    }
  }

  tr {
    background-color: #384161;
  }

  tr:nth-child(even) {
    background-color: #1b3256;
  }
}
